<template>
    <transition
        :enter-class="$style.animationEnter"
        :leave-to-class="$style.animationLeaveTo"
    >
        <div v-if="active" :class="computedClassNames">
            <div :class="$style.dialog__overlay">
                <div
                    v-click-outside="close"
                    :class="$style.dialog__content"
                    :style="{ width }"
                >
                    <component
                        ref="nestedComponent"
                        :is="nestedComponent"
                        v-bind="nestedComponentProps"
                        v-on="nestedComponentListeners"
                    />
                    <button
                        v-if="showCloseButton"
                        :class="$style.dialog__closeButton"
                        type="button"
                        @click="close"
                    >
                        <span class="icon-close" />
                    </button>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import clickOutside from '@/directives/click-outside';
export default {
    name: 'FnDialog',
    directives: {
        clickOutside
    },
    props: {
        nestedComponent: {
            type: [String, Object],
            default: 'div'
        },
        nestedComponentProps: {
            type: Object,
            default: () => ({})
        },
        nestedComponentListeners: {
            type: Object,
            default: () => ({})
        },
        contentType: {
            type: String,
            default: 'default'
        },
        width: {
            type: String,
            default: '460px'
        },
        fullScreen: {
            type: Boolean,
            default: false
        },
        fullScreenXs: {
            type: Boolean,
            default: false
        },
        drawerXs: {
            type: Boolean,
            default: false
        },
        showCloseButton: {
            type: Boolean,
            default: true
        },
        noPaddingContent: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            active: false
        };
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.dialog]: true,
                [this.$style[`dialog_contentType_${this.contentType}`]]: true,
                [this.$style.dialog_fullScreen]: this.fullScreen,
                [this.$style.dialog_fullScreenXs]: this.fullScreenXs,
                [this.$style.dialog_drawerXs]: this.drawerXs,
                [this.$style.dialog_noPaddingContent]: this.noPaddingContent
            };
        }
    },
    mounted() {
        this.active = true;
        window.addEventListener('keydown', this.esc);
    },
    beforeDestroy() {
        window.addEventListener('keydown', this.esc);
    },
    methods: {
        close() {
            this.active = false;
            setTimeout(() => {
                this.$destroy();
                this.$el.remove();
            }, 250);
        },
        esc(event) {
            if (event.code === 'Escape' || event.key === 'Escape') {
                this.close();
            }
        }
    }
};
</script>

<style src="./dialog.css" module />
