.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    transition: 0.25s ease;
}

.dialog__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 48px 16px;
}

.dialog__content {
    margin: auto;
    position: relative;
    transition: 0.25s ease;
    max-width: 100%;
}

.dialog__closeButton {
    position: absolute;
    background: none;
    border: none;
    font-size: 16px;
    transition: 0.15s ease;
}

.dialog_contentType_default .dialog__content {
    background: white;
    border-radius: 6px;
    padding: 48px;
}

.dialog_contentType_default .dialog__closeButton {
    top: 24px;
    right: 24px;
    color: var(--ui-colors-typo-regular);
}

.dialog_contentType_empty .dialog__closeButton {
    color: white;
    top: -32px;
    right: 0;
}

.dialog__closeButton:hover {
    color: var(--ui-colors-theme-primary);
}

.dialog_fullScreen .dialog__overlay {
    padding: 0;
}

.dialog_fullScreen .dialog__content {
    width: 100% !important;
    min-height: 100%;
    border-radius: 0;
}

.dialog_noPaddingContent .dialog__content {
    padding: 0 !important;
}

.animationEnter,
.animationLeaveTo {
    opacity: 0;
}

@media screen and (max-width: 575px) {
    .dialog_drawerXs .dialog__overlay {
        padding: 48px 0 0;
    }

    .dialog_contentType_default .dialog__content {
        padding: 56px 16px;
    }

    .dialog_contentType_default .dialog__closeButton {
        top: 16px;
        right: 16px;
    }

    .dialog_drawerXs .dialog__content {
        margin-bottom: 0;
        border-radius: 24px 24px 0 0;
        padding: 56px 16px 16px;
        width: 100% !important;
    }

    .dialog_fullScreenXs .dialog__overlay {
        padding: 0;
    }

    .dialog_fullScreenXs .dialog__content {
        min-height: 100%;
        border-radius: 0;
    }

    .animationEnter.dialog_drawerXs .dialog__content,
    .animationLeaveTo.dialog_drawerXs .dialog__content {
        transform: translateY(48px);
    }
}
