<template>
    <div :class="computedClassNames.rate">
        <div
            :class="[$style.rate__row, $style.rate__row_position_top]"
            :style="{ width: decimalWidth }"
        >
            <span v-for="(item, i) in max" :key="i" :class="$style.rate__item">
                <i :class="icon" />
            </span>
        </div>
        <div :class="[$style.rate__row, $style.rate__row_position_bottom]">
            <span v-for="(item, i) in max" :key="i" :class="$style.rate__item">
                <i :class="icon" />
            </span>
        </div>
        <div :class="[$style.rate__row, $style.rate__row_forSetup]">
            <span
                v-for="(item, i) in max"
                :key="i"
                :class="$style.rate__item"
                @mouseover="handleMouseOver(i + 1)"
                @mouseleave="handleMouseLeave"
                @click="handleClick"
            >
                <i :class="icon" />
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'BRate',
    props: {
        value: {
            type: Number,
            default: 5
        },
        max: {
            type: Number,
            default: 5
        },
        rateScale: {
            type: Number,
            default: 5
        },
        icon: {
            type: String,
            default: 'icon-star'
        },
        readonly: {
            type: Boolean,
            default: false
        },
        size: {
            type: String,
            default: 'md'
        }
    },
    data() {
        return {
            currentValue: this.value,
            oldValue: null
        };
    },
    computed: {
        computedClassNames() {
            return {
                rate: {
                    [this.$style.rate]: true,
                    [this.$style[`rate_size_${this.size}`]]: true,
                    [this.$style.rate_readonly]: this.readonly
                }
            };
        },
        decimalWidth() {
            const width = Math.round(
                ((this.oldValue || this.currentValue) * 100) / this.rateScale
            );
            return `${width}%`;
        }
    },
    methods: {
        handleMouseOver(index) {
            if (this.readonly) return;
            this.oldValue = index;
        },
        handleMouseLeave() {
            if (this.readonly) return;
            this.oldValue = null;
        },
        handleClick() {
            if (this.readonly) return;
            this.currentValue = this.oldValue;
            this.$emit('input', this.currentValue);
        }
    }
};
</script>

<style src="./rate.css" module />
