.rate {
    position: relative;
    display: inline-flex;
}

.rate:not(.rate_readonly) .rate__item {
    cursor: pointer;
}

.rate__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.rate__row_position_top {
    position: absolute;
    z-index: 2;
    color: #ebb348;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
}

.rate__row_position_bottom {
    position: relative;
    z-index: 1;
    color: #e6e6e6;
}

.rate__row_forSetup {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.rate__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Sizes */

.rate_size_sm .rate__item {
    font-size: 16px;
}

.rate_size_md .rate__item {
    font-size: 24px;
}

.rate_size_lg .rate__item {
    font-size: 32px;
}
