<template>
    <div :class="computedClassNames">
        <div :class="$style.result__content">
            <div :class="$style.result__icon">
                <span :class="computedIcon" />
            </div>
            <div :class="$style.result__title">
                {{ title }}
            </div>
            <div :class="$style.result__subtitle">
                {{ subtitle }}
            </div>
        </div>
        <div :class="$style.result__footer">
            <slot name="footer" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'BResult',
    props: {
        title: {
            type: String,
            default: null
        },
        subtitle: {
            type: String,
            default: null
        },
        variant: {
            type: String,
            default: 'info'
        }
    },
    computed: {
        computedIcon() {
            switch (this.variant) {
                case 'success': {
                    return 'icon-check2';
                }
                case 'error': {
                    return 'icon-close';
                }
                case 'info':
                default: {
                    return 'icon-information-variant';
                }
            }
        },
        computedClassNames() {
            return {
                [this.$style.result]: true,
                [this.$style[`result_variant_${this.variant}`]]: true
            };
        }
    }
};
</script>

<style src="./result.css" module />
