.result {
    background: white;
    padding: 32px;
}

.result__content {
    position: relative;
    text-align: center;
}

.result__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
}

.result__title {
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0 8px;
}

.result__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.result__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.result_variant_info .result__icon {
    background: var(--ui-colors-element-background-regular);
    color: var(--ui-colors-typo-regular);
}

.result_variant_success .result__icon {
    background: var(--ui-colors-theme-success-extra-light);
    color: var(--ui-colors-theme-success);
}

.result_variant_error .result__icon {
    background: var(--ui-colors-theme-danger-extra-light);
    color: var(--ui-colors-theme-danger);
}
