<template>
    <label :class="$style.radio">
        <input
            v-model="computedValue"
            :value="nativeValue"
            :class="$style.radio__input"
            type="radio"
        />
        <span :class="$style.radio__check" />
        <span :class="$style.radio__content">
            <slot />
        </span>
    </label>
</template>

<script>
export default {
    name: 'BRadio',
    props: {
        value: {
            type: [String, Boolean, Number],
            default: 'null'
        },
        nativeValue: {
            type: [String, Boolean, Number],
            default: 'null'
        }
    },
    computed: {
        computedValue: {
            get() {
                return this.value;
            },
            set(value) {
                this.$emit('input', value);
            }
        }
    }
};
</script>

<style src="./radio.css" module />
