.radio {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    vertical-align: middle;
}

.radio__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.radio__check {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--ui-colors-theme-primary);
    position: relative;
}

.radio__check:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    border-radius: 50%;
    background: var(--ui-colors-theme-primary);
    transition: 0.15s ease;
    opacity: 0;
}

.radio__content {
    font-size: 14px;
    font-weight: 400;
    margin-left: 4px;
}

.radio__input:checked ~ .radio__check:after {
    opacity: 1;
}