<template>
    <div :class="$style.wrapper">
        <template v-if="type !== 'textarea'">
            <input
                ref="input"
                :class="[computedClassNames.input, inputClass]"
                :type="type"
                :value="value"
                v-mask="mask"
                v-bind="$attrs"
                v-on="listeners"
            />
            <span
                v-if="iconPrefix"
                :class="[computedClassNames.iconPrefix, iconPrefix]"
            />
            <span
                v-if="iconPostfix && !clearable"
                :class="[computedClassNames.iconPostfix, iconPostfix]"
                @click="handleClickIconPostfix"
            />
            <span
                v-if="clearable && value"
                :class="[
                    computedClassNames.iconPostfix,
                    this.$style.input__clearButton,
                    'icon-close'
                ]"
                @click="clear"
            />
        </template>
        <template v-else>
            <textarea
                ref="textarea"
                :class="[computedClassNames.textarea, inputClass]"
                v-bind="$attrs"
                v-on="listeners"
            />
        </template>
    </div>
</template>

<script>
import { VueMaskDirective } from 'v-mask';
export default {
    name: 'BInput',
    inheritAttrs: false,
    directives: {
        mask: VueMaskDirective
    },
    props: {
        value: {
            type: [String, Number],
            default: ''
        },
        type: {
            type: String,
            default: 'text'
        },
        variant: {
            type: String,
            default: 'default'
        },
        size: {
            type: String,
            default: 'lg'
        },
        iconPrefix: {
            type: [String, Array, Object],
            default: null
        },
        iconPostfix: {
            type: [String, Array, Object],
            default: null
        },
        inputClass: {
            type: [String, Array, Object],
            default: null
        },
        round: {
            type: Boolean,
            default: false
        },
        mask: {
            type: String,
            default: null
        },
        clearable: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                input: {
                    [this.$style.input]: true,
                    [this.$style.input_type_input]: true,
                    [this.$style[`input_variant_${this.variant}`]]: true,
                    [this.$style[`input_size_${this.size}`]]: true,
                    [this.$style.input_round]: this.round,
                    [this.$style.input_withIconPrefix]: this.iconPrefix,
                    [this.$style.input_withIconPostfix]: this.iconPostfix
                },
                textarea: {
                    [this.$style.input]: true,
                    [this.$style.input_type_textarea]: true,
                    [this.$style[`input_variant_${this.variant}`]]: true,
                    [this.$style[`input_size_${this.size}`]]: true
                },
                iconPrefix: {
                    [this.$style.input__icon]: true,
                    [this.$style.input__iconPrefix]: true
                },
                iconPostfix: {
                    [this.$style.input__icon]: true,
                    [this.$style.input__iconPostfix]: true
                }
            };
        },
        listeners() {
            return {
                ...this.$listeners,
                input: (event) => this.$emit('input', event.target.value)
            };
        },
        computedRef() {
            return this.type === 'textarea' ? 'textarea' : 'input';
        }
    },
    methods: {
        focus() {
            this.$refs[this.computedRef].focus();
        },
        handleClickIconPostfix() {
            this.$emit('click-icon-postfix');
        },
        clear() {
            this.$emit('input', '');
        }
    }
};
</script>

<style src="./input.css" module />
