.wrapper {
    position: relative;
}

.input {
    width: 100%;
    transition: 0.15s ease;
    transition-property: border-color;
}

.input:read-only {
    pointer-events: none;
    user-select: none;
}

.input ~ .input__icon {
    position: absolute;
}

.input_variant_default {
    border: 1px solid var(--ui-colors-element-background-regular);
    background: var(--ui-colors-element-background-regular);
}

.input_variant_default:focus {
    border-color: var(--ui-colors-element-border-focus);
}

.input_variant_default::placeholder {
    color: var(--ui-colors-element-typo-placeholder);
}

.input_variant_outline {
    border: 1px solid var(--ui-colors-element-border-regular);
}

.input_variant_outline:focus {
    border: 1px solid var(--ui-colors-element-border-focus);
}

.input_variant_outline::placeholder {
    color: var(--ui-colors-element-typo-placeholder);
}

.input_size_sm.input_type_input {
    height: 32px;
    border-radius: 6px;
    padding: 0 16px;
    font-size: 12px;
}

.input_size_md.input_type_input {
    height: 36px;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 14px;
}

.input_size_lg.input_type_input {
    height: 48px;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 14px;
}

.input_size_sm.input_type_textarea {
    height: 72px;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 12px;
}

.input_size_md.input_type_textarea {
    height: 96px;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
}

.input_size_lg.input_type_textarea {
    height: 128px;
    border-radius: 8px;
    padding: 16px 24px;
    font-size: 14px;
}

.input_size_xl.input_type_textarea {
    height: 196px;
    border-radius: 8px;
    padding: 16px 24px;
    font-size: 14px;
}

.input_size_sm ~ .input__iconPrefix {
    font-size: 12px;
}

.input_size_md ~ .input__iconPrefix {
    font-size: 14px;
}

.input_size_lg ~ .input__iconPrefix {
    font-size: 16px;
}

.input_size_sm ~ .input__iconPostfix {
    font-size: 12px;
}

.input_size_md ~ .input__iconPostfix {
    font-size: 12px;
}

.input_size_lg ~ .input__iconPostfix {
    font-size: 14px;
}

.input_size_sm ~ .input__iconPrefix {
    top: calc(50% - 6px);
    left: 16px;
}

.input_size_sm.input_withIconPrefix {
    padding-left: 32px;
}

.input_size_sm ~ .input__iconPostfix {
    top: calc(50% - 6px);
    right: 16px;
}

.input_size_sm.input_withIconPostfix {
    padding-right: 32px;
}

.input_size_md ~ .input__iconPrefix {
    top: calc(50% - 7px);
    left: 16px;
}

.input_size_md.input_withIconPrefix {
    padding-left: 36px;
}

.input_size_md ~ .input__iconPostfix {
    top: calc(50% - 6px);
    right: 16px;
}

.input_size_md.input_withIconPostfix {
    padding-right: 36px;
}

.input_size_lg ~ .input__iconPrefix {
    top: calc(50% - 8px);
    left: 24px;
}

.input_size_lg.input_withIconPrefix {
    padding-left: 48px;
}

.input_size_lg ~ .input__iconPostfix {
    top: calc(50% - 7px);
    right: 16px;
}

.input_size_lg.input_withIconPostfix {
    padding-right: 36px;
}

.input_type_input.input_round {
    border-radius: 999px;
}

.input_type_textarea {
    resize: vertical;
}

.input__clearButton {
    cursor: pointer;
}