.checkbox {
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.checkbox__check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: var(--ui-colors-element-background-regular);
    border-radius: 4px;
    transition: 0.15s ease;
    flex-shrink: 0;
}

.checkbox__check span {
    font-size: 12px;
    opacity: 0;
    transition: 0.15s ease;
}

.checkbox__content {
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
}

.checkbox__input:checked ~ .checkbox__check span {
    opacity: 1;
}

.checkbox_align_center {
    align-items: center;
}

.checkbox_align_top {
    align-items: flex-start;
}

.checkbox_variant_primary .checkbox__check span {
    color: var(--ui-colors-theme-primary-invert);
}

.checkbox_variant_primary .checkbox__input:checked ~ .checkbox__check {
    background: var(--ui-colors-theme-primary);
}

.checkbox_variant_default .checkbox__check span {
    color: var(--ui-colors-theme-dark);
}
