<template>
    <label :class="computedClassNames.checkbox">
        <input
            v-model="computedValue"
            :value="nativeValue"
            type="checkbox"
            :class="$style.checkbox__input"
        />
        <div :class="$style.checkbox__check">
            <span class="icon-check" />
        </div>
        <div :class="$style.checkbox__content">
            <slot />
        </div>
    </label>
</template>

<script>
export default {
    name: 'BCheckbox',
    props: {
        value: {
            type: [Boolean, String, Number, Array],
            default: null
        },
        nativeValue: {
            type: [Boolean, String, Number, Array],
            default: null
        },
        variant: {
            type: String,
            default: 'primary'
        },
        align: {
            type: String,
            default: 'center'
        }
    },
    computed: {
        computedClassNames() {
            return {
                checkbox: {
                    [this.$style.checkbox]: true,
                    [this.$style[`checkbox_variant_${this.variant}`]]: true,
                    [this.$style[`checkbox_align_${this.align}`]]: true
                }
            };
        },
        computedValue: {
            get() {
                return this.value;
            },
            set(value) {
                this.$emit('input', value);
            }
        }
    }
};
</script>

<style src="./checkbox.css" module />
