<template>
    <transition
        :enter-class="$style.animationEnter"
        :leave-to-class="$style.animationLeaveTo"
    >
        <div
            v-show="active"
            :class="$style.loading"
            :style="`background: ${background}`"
        >
            <div
                :class="$style.loading__spinnerWrapper"
                :style="`transform: scale(${scale})`"
            >
                <div :class="$style.loading__spinner" />
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'BLoading',
    props: {
        scale: {
            type: [String, Number],
            default: 1
        },
        background: {
            type: String,
            default: 'white'
        }
    },
    data() {
        return {
            active: false
        };
    },
    mounted() {
        this.start();
    },
    methods: {
        start() {
            this.active = true;
        },
        stop() {
            this.active = false;
            setTimeout(() => {
                this.$destroy();
                this.$el.remove();
            }, 250);
        }
    }
};
</script>

<style src="./loading.css" module />
