.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 20;
}

.loading__spinnerWrapper {
    margin: auto;
    width: 32px;
    height: 32px;
}

.loading__spinner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--ui-colors-theme-primary);
    border-top-color: transparent;
    animation: spin 0.75s linear infinite;
}

.animationEnter,
.animationLeaveTo {
    opacity: 0;
}

.animationLeaveTo {
    transition: 0.15s ease;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
