@font-face {
    font-family: 'icomoon';
    src: url('./icomoon.eot?d9ohno');
    src: url('./icomoon.eot?d9ohno#iefix') format('embedded-opentype'),
        url('./icomoon.ttf?d9ohno') format('truetype'),
        url('./icomoon.woff?d9ohno') format('woff'),
        url('./icomoon.svg?d9ohno#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
    content: '\e900';
}
.icon-account-outline:before {
    content: '\e901';
}
.icon-bag2:before {
    content: '\e902';
}
.icon-bookmark:before {
    content: '\e903';
}
.icon-bookmark-outline:before {
    content: '\e904';
}
.icon-calendar:before {
    content: '\e905';
}
.icon-check:before {
    content: '\e906';
}
.icon-check2:before {
    content: '\e907';
}
.icon-chevron-down:before {
    content: '\e908';
}
.icon-chevron-left:before {
    content: '\e909';
}
.icon-chevron-right:before {
    content: '\e90a';
}
.icon-chevron-up:before {
    content: '\e90b';
}
.icon-clip:before {
    content: '\e90c';
}
.icon-clocks-outline:before {
    content: '\e90d';
}
.icon-clocks-solid:before {
    content: '\e90e';
}
.icon-close:before {
    content: '\e90f';
}
.icon-close2:before {
    content: '\e910';
}
.icon-cloud-upload:before {
    content: '\e911';
}
.icon-cloud-upload-outline:before {
    content: '\e912';
}
.icon-coins:before {
    content: '\e913';
}
.icon-coupon:before {
    content: '\e914';
}
.icon-currency-rub:before {
    content: '\e915';
}
.icon-dots-horizontal:before {
    content: '\e916';
}
.icon-dots-vertical:before {
    content: '\e917';
}
.icon-envelope:before {
    content: '\e918';
}
.icon-envelope-outline:before {
    content: '\e919';
}
.icon-exclamation:before {
    content: '\e91a';
}
.icon-exclamation-thick:before {
    content: '\e91b';
}
.icon-exit:before {
    content: '\e91c';
}
.icon-file-upload:before {
    content: '\e91d';
}
.icon-file-upload-outline:before {
    content: '\e91e';
}
.icon-filter:before {
    content: '\e91f';
}
.icon-geo:before {
    content: '\e920';
}
.icon-help-circle:before {
    content: '\e921';
}
.icon-help-circle-outline:before {
    content: '\e922';
}
.icon-home:before {
    content: '\e923';
}
.icon-image-file-outline:before {
    content: '\e924';
}
.icon-info-outline:before {
    content: '\e925';
}
.icon-information-variant:before {
    content: '\e926';
}
.icon-label-outline:before {
    content: '\e927';
}
.icon-list-square:before {
    content: '\e928';
}
.icon-location-outline:before {
    content: '\e929';
}
.icon-logout:before {
    content: '\e92a';
}
.icon-long-arrow-left:before {
    content: '\e92b';
}
.icon-long-arrow-right:before {
    content: '\e92c';
}
.icon-magnify-bold:before {
    content: '\e92d';
}
.icon-magnify-light:before {
    content: '\e92e';
}
.icon-pen:before {
    content: '\e92f';
}
.icon-phone:before {
    content: '\e930';
}
.icon-plus:before {
    content: '\e931';
}
.icon-review:before {
    content: '\e932';
}
.icon-shopping-bag:before {
    content: '\e933';
}
.icon-shopping-bags:before {
    content: '\e934';
}
.icon-shopping-basket-outline:before {
    content: '\e935';
}
.icon-shopping-cart:before {
    content: '\e936';
}
.icon-sort-down:before {
    content: '\e937';
}
.icon-star:before {
    content: '\e938';
}
.icon-telegram:before {
    content: '\e939';
}
.icon-ticket:before {
    content: '\e93a';
}
.icon-tray-arrow-up:before {
    content: '\e93b';
}
.icon-upload:before {
    content: '\e93c';
}
