.badge {
    position: relative;
}

.badge__content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 400;
    border-radius: 999px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    top: -8px;
    right: -16px;
}

.badge_variant_danger .badge__content {
    background: var(--ui-colors-theme-danger);
    color: var(--ui-colors-theme-danger-invert);
}