<template>
    <span :class="computedClassNames">
        <slot />
        <sup v-if="text" :class="$style.badge__content">
            {{ text }}
        </sup>
    </span>
</template>

<script>
export default {
    name: 'BBadge',
    props: {
        text: {
            type: [String, Number],
            default: null
        },
        variant: {
            type: String,
            default: 'danger'
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.badge]: true,
                [this.$style[`badge_variant_${this.variant}`]]: true
            };
        }
    }
};
</script>

<style src="./badge.css" module />
