.datepicker {
    border-radius: 22px;
    padding: 24px;
}

.datepicker__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.datepcker__changeMonthButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: none;
    font-size: 10px;
    transition: 0.15s ease;
}

.datepcker__changeMonthButton:active {
    transform: scale(0.9);
}

.datepicker__currentMonthName {
    font-size: 16px;
    font-weight: 500;
}

.datepicker__body {
    position: relative;
}

.datepicker__daysOfWeek {
    display: grid;
    grid-template-columns: repeat(7, 24px);
    grid-gap: 8px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.datepicker__nameOfDay {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--ui-colors-theme-primary);
}

.datepicker__datesGrid {
    display: grid;
    grid-template-columns: repeat(7, 24px);
    grid-template-rows: repeat(6, 24px);
    grid-gap: 8px;
    justify-content: space-between;
}

.datepicker_variant_default {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
}

.datepicker_variant_default .datepcker__changeMonthButton {
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.datepicker_variant_flat {
    background: none;
}

.datepicker_variant_flat .datepcker__changeMonthButton {
    background: none;
}