<template>
    <div :class="computedClassNames" @click="handleClick">
        <slot />
        <span v-if="eventsCount" :class="$style.datepickerDate__badge">
            {{ eventsCount }}
        </span>
    </div>
</template>

<script>
export default {
    name: 'BDatepickerDate',
    props: {
        date: {
            type: [Object, String, Date],
            default: () => ({})
        },
        isCurrentDate: {
            type: Boolean,
            default: false
        },
        isNotCurrentMonth: {
            type: Boolean,
            default: false
        },
        isActiveDate: {
            type: Boolean,
            default: false
        },
        isInRange: {
            type: Boolean,
            deafult: false
        },
        disabled: {
            type: Boolean,
            deafult: false
        },
        eventsCount: {
            type: Number,
            default: 12
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.datepickerDate]: true,
                [this.$style.datepickerDate_currentDate]: this.isCurrentDate,
                [this.$style.datepickerDate_notCurrentMonth]:
                    this.isNotCurrentMonth,
                [this.$style.datepickerDate_activeDate]: this.isActiveDate,
                [this.$style.datepickerDate_disabled]: this.disabled,
                [this.$style.datepickerDate_inRange]: this.isInRange
            };
        }
    },
    methods: {
        handleClick() {
            if (this.disabled) {
                return;
            }
            this.$emit('click', this.date);
        }
    }
};
</script>

<style src="./datepicker-date.css" module />
