.datepickerDate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.datepickerDate_currentDate {
    border: 1px solid var(--ui-colors-theme-primary);
}

.datepickerDate_notCurrentMonth {
    color: var(--ui-colors-typo-placeholder);
}

.datepickerDate_activeDate {
    background: var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-primary-invert);
}

.datepickerDate_disabled {
    cursor: not-allowed;
}

.datepickerDate_inRange {
    color: var(--ui-colors-theme-primary);
}

.datepickerDate__badge {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-primary-invert);
    font-size: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -8px;
    right: -8px;
}