<template>
    <div :class="computedClassNames.datepicker">
        <div :class="$style.datepicker__header">
            <button
                :class="$style.datepcker__changeMonthButton"
                type="button"
                @click="prevMonth"
            >
                <span class="icon-chevron-left" />
            </button>
            <div :class="$style.datepicker__currentMonthName">
                {{ currentMonthName }}
            </div>
            <button
                :class="$style.datepcker__changeMonthButton"
                type="button"
                @click="nextMonth"
            >
                <span class="icon-chevron-right" />
            </button>
        </div>
        <div :class="$style.datepicker__body">
            <div :class="$style.datepicker__daysOfWeek">
                <div
                    v-for="day in namesOfDays"
                    :key="day"
                    :class="$style.datepicker__nameOfDay"
                >
                    {{ day }}
                </div>
            </div>
            <div :class="$style.datepicker__datesGrid">
                <BDatepickerDate
                    v-for="(date, i) in datesArray"
                    :key="i"
                    :date="date"
                    :is-current-date="isCurrentDate(date.value)"
                    :is-not-current-month="isNotCurrentMonth(date.value)"
                    :is-active-date="isActiveDate(date.value)"
                    :is-in-range="isInRange(date.value)"
                    :disabled="isBeforeDate(date.value)"
                    :events-count="eventsCount(date.value)"
                    @click="selectDate"
                >
                    {{ date.date }}
                </BDatepickerDate>
            </div>
        </div>
    </div>
</template>

<script>
import {
    now,
    namesOfMonths,
    namesOfDays,
    generateDatesArray,
    moment
} from '@/utils/date.util';

import BDatepickerDate from './datepicker-date';
export default {
    name: 'BDatepicker',
    components: {
        BDatepickerDate
    },
    props: {
        value: {
            type: [String, Number, Array, Date],
            default: null
        },
        range: {
            type: Boolean,
            default: false
        },
        variant: {
            type: String,
            default: 'default'
        },
        events: {
            type: Array,
            default: () => []
        }
    },
    data() {
        const year = now.get('year');
        const month = now.get('month');
        const date = now.get('date');
        return {
            now,
            year,
            month,
            date,
            namesOfDays,
            startDate: null,
            endDate: null
        };
    },
    computed: {
        currentMonthName() {
            return namesOfMonths[this.month];
        },
        datesArray() {
            return generateDatesArray(this.year, this.month);
        },
        computedClassNames() {
            return {
                datepicker: {
                    [this.$style.datepicker]: true,
                    [this.$style[`datepicker_variant_${this.variant}`]]: true
                }
            };
        }
    },
    methods: {
        nextMonth() {
            if (this.month === 11) {
                this.month = 0;
                this.year++;
                return;
            }
            this.month++;
            this.$emit('change-month', {
                month: this.month,
                year: this.year
            });
        },
        prevMonth() {
            if (this.month === 0) {
                this.month = 11;
                this.year--;
                return;
            }
            this.month--;
            this.$emit('change-month', {
                month: this.month,
                year: this.year
            });
        },
        isCurrentDate(date) {
            return moment(this.now).isSame(date, 'day');
        },
        isNotCurrentMonth(date) {
            return !moment([this.year, this.month]).isSame(date, 'month');
        },
        isActiveDate(date) {
            if (this.range) {
                return (
                    moment(this.startDate).isSame(date, 'day') ||
                    moment(this.endDate).isSame(date, 'day')
                );
            }
            return moment(this.value).isSame(date, 'day');
        },
        isBeforeDate(date) {
            return moment(date).isBefore(this.now, 'day');
        },
        isInRange(date) {
            if (!this.range) return false;
            return moment(date).isBetween(this.startDate, this.endDate);
        },
        selectDate(date) {
            if (this.range) {
                if (this.startDate && this.endDate) {
                    this.startDate = date.value;
                    this.endDate = null;
                    this.$emit('start-range', date.value);
                    this.$emit('input', [this.startDate, this.endDate]);
                } else if (this.startDate && !this.endDate) {
                    if (moment(date.value).isBefore(this.startDate)) {
                        this.endDate = this.startDate;
                        this.startDate = date.value;
                    } else {
                        this.endDate = date.value;
                    }

                    this.$emit('range-end', date.value);
                    this.$emit('input', [this.startDate, this.endDate]);
                } else {
                    this.startDate = date.value;
                    this.$emit('range-start', date.value);
                }

                return;
            }
            this.$emit('select', date.value);
            this.$emit('input', date.value);
        },
        eventsCount(date) {
            const filtredDates = this.events.filter((event) => {
                return moment(date).isSame(event, 'day');
            });
            return filtredDates.length;
        }
    }
};
</script>

<style src="./datepicker.css" module />
