@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 300;
    src: local("Geometria"), url("./Geometria_Light.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-style: italic;
    font-weight: 300;
    src: local("Geometria"), url("./Geometria_Light_Italic.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 400;
    src: local("Geometria"), url("./Geometria_Regular.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-style: italic;
    font-weight: 400;
    src: local("Geometria"), url("./Geometria_Regular_Italic.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    src: local("Geometria"), url("./Geometria_Medium.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-style: italic;
    font-weight: 500;
    src: local("Geometria"), url("./Geometria_Medium_Italic.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 700;
    src: local("Geometria"), url("./Geometria_Bold.otf") format("opentype");
}