<template>
    <div :class="$style.wrapper">
        <div v-if="$slots.header" :class="$style.header">
            <slot name="header" />
        </div>
        <div :class="$style.content">
            <table :class="$style.table">
                <thead :class="$style.table__thead">
                    <tr :class="$style.table__tr">
                        <slot name="thead" />
                    </tr>
                </thead>
                <tbody v-if="data.length" :class="$style.table__tbody">
                    <tr
                        v-for="(row, i) in data"
                        :key="i"
                        :class="$style.table__tr"
                        @click="handleClick(row)"
                    >
                        <slot name="row" :data="row" />
                    </tr>
                </tbody>
            </table>
            <div v-if="!data.length" :class="$style.emptyContent">
                {{ placeholder }}
            </div>
        </div>
        <div v-if="$slots.footer" :class="$style.footer">
            <slot name="footer" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'BTable',
    props: {
        placeholder: {
            type: String,
            default: 'Нет данных'
        },
        data: {
            type: Array,
            default: () => []
        }
    },
    methods: {
        handleClick(data) {
            this.$emit('click', data);
        }
    }
};
</script>

<style src="./table.css" module />
