.wrapper {
    border: 1px solid var(--ui-colors-border-regular);
    border-radius: 10px;
    position: relative;
}

.header {
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    padding: 16px;
    border-top: 1px solid var(--ui-colors-border-regular);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__thead {
    border-bottom: 1px solid var(--ui-colors-border-regular);
}

.table__tr {
    border-bottom: 1px solid var(--ui-colors-border-regular);
}

.table__tbody .table__tr:last-child {
    border-bottom: none;
}


.table__tbody .table__tr:hover {
    background: var(--ui-colors-elem-background);
}

.emptyContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    font-size: 14px;
    font-weight: 400;
    color: var(--ui-colors-typo-placeholder);
}