<template>
    <component
        :is="tag"
        v-lazy:background-image="background"
        :class="$style.lazyBackground"
    >
        <slot />
        <div :class="$style.lazyBackground__loader" />
    </component>
</template>

<script>
export default {
    name: 'BLazyBackground',
    props: {
        tag: {
            type: String,
            default: 'div'
        },
        background: {
            type: String,
            default: null
        }
    }
};
</script>

<style src="./lazy-background.css" module />
