.lazyBackground {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lazyBackground__loader {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: #f7f7f7;
    z-index: 2;
    visibility: visible;
    overflow: hidden;
}

.lazyBackground__loader:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    animation: load 1s ease infinite;
}

.lazyBackground[lazy="loaded"] .lazyBackground__loader {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes load {
    from {
        transform: translateX(-100%);
    }
    
    to {
        transform: translateX(100%);
    }
}
