.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.dropdown__trigger {
    cursor: pointer;
}

.dropdown__body {
    position: absolute;
    z-index: 20;
    top: 100%;
    margin-top: 4px;
    background: white;
    padding: 8px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    transition: 0.15s linear;
}

.dropdown_hAlign_right .dropdown__body {
    right: 0;
}

.dropdown_hAlign_left .dropdown__body {
    left: 0;
}

.animationEnter,
.animationLeaveTo {
    opacity: 0;
}
