<template>
    <div :class="computedClassNames" v-click-outside="close">
        <div :class="$style.dropdown__trigger" @click="active = !active">
            <slot />
        </div>
        <transition
            :enter-class="$style.animationEnter"
            :leave-to-class="$style.animationLeaveTo"
        >
            <div v-if="active" :class="[$style.dropdown__body, bodyClass]">
                <slot name="dropdown" />
            </div>
        </transition>
    </div>
</template>

<script>
import clickOutside from '@/directives/click-outside';
export default {
    name: 'BDropdown',
    directives: {
        clickOutside
    },
    provide() {
        return {
            dropdown: this
        };
    },
    props: {
        bodyClass: {
            type: [String, Array, Object],
            default: null
        },
        hAlign: {
            type: String,
            default: 'right'
        }
    },
    data() {
        return {
            active: false
        };
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.dropdown]: true,
                [this.$style[`dropdown_hAlign_${this.hAlign}`]]: true
            };
        }
    },
    methods: {
        close() {
            this.active = false;
        }
    }
};
</script>

<style src="./dropdown.css" module />
