.dropdownItem {
    position: relative;
}

.dropdownItem__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    padding: 8px 16px;
}

.dropdownItem__inner:hover {
    background: var(--ui-colors-element-background-regular);
}

.dropdownItem_hasDivider {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid var(--ui-colors-border-light);
}