<template>
    <div :class="computedClassNames">
        <template v-if="link">
            <RouterLink
                :class="$style.dropdownItem__inner"
                v-bind="$attrs"
                @click.native="handleClick"
            >
                <slot />
            </RouterLink>
        </template>
        <template v-else>
            <div :class="$style.dropdownItem__inner" @click="handleClick">
                <slot />
            </div>
        </template>
    </div>
</template>

<script>
export default {
    name: 'BDropdownItem',
    inheritAttrs: false,
    inject: ['dropdown'],
    props: {
        link: {
            type: Boolean,
            default: true
        },
        divider: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.dropdownItem]: true,
                [this.$style.dropdownItem_hasDivider]: this.divider
            };
        }
    },
    methods: {
        handleClick() {
            this.dropdown.close();
            this.$emit('click');
        }
    }
};
</script>

<style src="./item.css" module />
