<template>
    <div v-click-outside="close" :class="computedClassNames.poper">
        <div :class="$style.poper__content" @click="toggle">
            <slot />
        </div>
        <transition
            :enter-class="$style.animationEnter"
            :leave-to-class="$style.animationLeaveTo"
        >
            <div
                v-show="active"
                :class="[$style.poper__dropdown, dropdownClass]"
            >
                <slot name="dropdown" />
            </div>
        </transition>
    </div>
</template>

<script>
import clickOutside from '@/directives/click-outside';
export default {
    name: 'BPoper',
    directives: {
        clickOutside
    },
    provide() {
        return {
            poper: this
        };
    },
    props: {
        position: {
            type: String,
            default: 'bottom'
        },
        align: {
            type: String,
            default: 'right'
        },
        dropdownClass: {
            type: [String, Array, Object],
            default: null
        },
        fluid: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            active: false
        };
    },
    computed: {
        computedClassNames() {
            return {
                poper: {
                    [this.$style.poper]: true,
                    [this.$style[`poper_align_${this.align}`]]: true,
                    [this.$style[`poper_position_${this.position}`]]: true,
                    [this.$style.poper_fluid]: this.fluid
                }
            };
        }
    },
    watch: {
        active(value) {
            if (value) {
                this.$emit('open');
            } else {
                this.$emit('close');
            }
        }
    },
    methods: {
        close() {
            this.active = false;
        },
        toggle() {
            this.active = !this.active;
        }
    }
};
</script>

<style src="./poper.css" module />
