.poper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.poper__content {
    width: 100%;
    position: relative;
}

.poper__dropdown {
    position: absolute;
    min-width: 100%;
    z-index: 100;
    transition: 0.15s ease;
}

.poper_align_left .poper__dropdown {
    left: 0;
}

.poper_align_right .poper__dropdown {
    right: 0;
}

.poper_position_bottom .poper__dropdown {
    top: 100%;
    margin-top: 8px;
}

.poper_position_top .poper__dropdown {
    bottom: 100%;
    margin-bottom: 8px;
}

.poper_fluid {
    width: 100%;
}

.animationEnter,
.animationLeaveTo {
    opacity: 0;
}