<template>
    <div class="wrapper">
        <BSelect
            v-model="value"
            :options="computedOptions"
            search
            @search="query = $event"
        />
    </div>
</template>

<script>
import BSelect from '@/components/base/select';
export default {
    components: {
        BSelect
    },
    data() {
        return {
            query: '',
            value: null,
            options: [
                {
                    label: 'Прыжок с парашютом',
                    value: 'item1'
                },
                {
                    label: 'Катание на яхте',
                    value: 'item2'
                },
                {
                    label: 'Параплан',
                    value: 'item3'
                }
            ]
        };
    },
    computed: {
        computedOptions() {
            return this.options.filter((item) =>
                item.label.toLowerCase().includes(this.query.toLowerCase())
            );
        }
    }
};
</script>

<style>
.wrapper {
    max-width: 320px;
    margin: 100px auto;
}
</style>
