<template>
    <div :class="$style.uploadGallery">
        <BUpload multiple @change="handleChange">
            <div :class="$style.uploadGallery__uploadButton">
                <span class="icon-plus" />
            </div>
        </BUpload>
        <div :class="$style.uploadGallery__items">
            <BLazyBackground
                v-for="(image, i) in images"
                :key="i"
                :class="$style.uploadGallery__item"
                :background="image"
            >
                <div :class="$style.uploadGallery__itemOverlay">
                    <span
                        :class="[
                            $style.uploadGallery__itemRemoveButton,
                            'icon-close'
                        ]"
                        @click="handleRemove(i)"
                    />
                </div>
            </BLazyBackground>
        </div>
    </div>
</template>

<script>
import BUpload from '@/components/base/upload';
import BLazyBackground from '@/components/base/lazy-background';
export default {
    name: 'BUploadGallery',
    components: {
        BUpload,
        BLazyBackground
    },
    props: {
        images: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {
            files: []
        };
    },
    methods: {
        async handleChange(files) {
            for (const file of files) {
                const imageAlreadyExists = this.files.find(
                    (item) => file.name === item.name
                );

                if (imageAlreadyExists) {
                    continue;
                }

                this.files.push(file);
            }

            this.$emit('change', this.files);
            this.files = [];
        },
        handleRemove(index) {
            this.$emit('remove', index);
        }
    }
};
</script>

<style src="./upload-gallery.css" module />
