.uploadGallery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.uploadGallery__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.uploadGallery__item {
    width: 250px;
    height: 140px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 16px;
    position: relative;
    overflow: hidden;
}

.uploadGallery__itemOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    opacity: 0;
    transition: 0.15s ease;
}

.uploadGallery__itemRemoveButton {
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.uploadGallery__itemOverlay:hover {
    opacity: 1;
}

.uploadGallery__uploadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 140px;
    border-radius: 8px;
    border: 1px dashed var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-primary);
    cursor: pointer;
    font-size: 36px;
    transition: 0.15s ease;
}

.uploadGallery__uploadButton:hover {
    background: var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-primary-invert);
}
