<template>
    <div :class="$style.notificationContainer">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'FnNotificationContainer'
};
</script>

<style src="./notification-container.css" module />
