<template>
    <div
        :class="$style.listEditor"
        contenteditable="true"
        @input="handleInput"
        @blur="handleBlur"
        v-html="computedHTML"
    />
</template>

<script>
export default {
    name: 'BListEditor',
    inheritAttrs: false,
    props: {
        value: {
            type: String,
            default: null
        }
    },
    computed: {
        computedHTML() {
            return this.value ? this.value : '<div><br /></div>';
        }
    },
    methods: {
        handleInput(event) {
            if (event.target.innerHTML === '<br>' || !event.target.innerHTML) {
                event.target.innerHTML = `<div><br /></div>`;
            }
        },
        handleBlur(event) {
            this.$emit('input', event.target.innerHTML);
        }
    }
};
</script>

<style src="./list-editor.css" module />
