.listEditor {
    width: 100%;
    min-height: 128px;
    background: var(--ui-colors-element-background-regular);
    outline: none;
    border: 1px solid var(--ui-colors-element-background-regular);
    border-radius: 8px;
    padding: 16px 24px;
    font-size: 14px;
}

.listEditor div {
    position: relative;
    padding-left: 16px;
    margin-bottom: 8px;
}

.listEditor div:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--ui-colors-theme-dark);
    left: 0;
    top: 6px;
}

.listEditor div:last-child {
    margin-bottom: 0;
}