<template>
    <component
        :is="tag"
        :class="computedClassNames.avatar"
        :style="image ? `background-image: url(${image})` : null"
        v-bind="$attrs"
        v-on="$listeners"
    />
</template>

<script>
export default {
    name: 'BAvatar',
    props: {
        tag: {
            type: String,
            default: 'div'
        },
        image: {
            type: String,
            default: null
        },
        size: {
            type: String,
            default: 'md'
        },
        circle: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                avatar: {
                    [this.$style.avatar]: true,
                    [this.$style[`avatar_size_${this.size}`]]: true,
                    [this.$style.avatar_defaultImage]: !this.image,
                    [this.$style.avatar_circle]: this.circle
                }
            };
        }
    }
};
</script>

<style src="./avatar.css" module />
