.collapseItem {
    background: white;
    border-radius: 8px;
}

.collapseItem__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    user-select: none;
    cursor: pointer;
    padding: 24px 32px;
}

.collapseItem__title {
    margin-right: 16px;
    transition: 0.15s ease;
}

.collapseItem__icon {
    transition: 0.15s ease;
}

.collapseItem__body {
    transition: 0.25s ease;
    overflow: hidden;
    height: 0;
}

.collapseItem__content {
    line-height: 1.5;
}

.collapseItem_size_md > .collapseItem__header {
    padding: 16px 24px;
}

.collapseItem_size_md > .collapseItem__header > .collapseItem__title {
    font-size: 14px;
    font-weight: 500;
}

.collapseItem_size_md > .collapseItem__header .collapseItem__icon {
    font-size: 12px;
}

.collapseItem_size_md > .collapseItem__body > .collapseItem__content {
    padding: 0 24px 24px;
    font-size: 14px;
}

.collapseItem_size_lg > .collapseItem__header {
    padding: 24px 32px;
}

.collapseItem_size_lg > .collapseItem__header .collapseItem__title {
    font-size: 18px;
    font-weight: 700;
}

.collapseItem_size_lg > .collapseItem__header > .collapseItem__icon {
    font-size: 14px;
}

.collapseItem_size_lg > .collapseItem__body > .collapseItem__content {
    padding: 0 32px 32px;
    font-size: 16px;
}

.collapseItem_active > .collapseItem__header > .collapseItem__icon {
    transform: rotate(180deg);
}
