<template>
    <div :class="computedClassNames.collapseItem">
        <div :class="$style.collapseItem__header" @click="handleClick">
            <div :class="$style.collapseItem__title">
                <slot name="title" />
            </div>
            <span :class="[$style.collapseItem__icon, 'icon-chevron-down']" />
        </div>
        <div ref="body" :class="$style.collapseItem__body">
            <div :class="$style.collapseItem__content">
                <slot />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'BCollapseItem',
    inject: ['collapse'],
    props: {
        name: {
            type: [String, Number],
            default: null
        }
    },
    computed: {
        parent() {
            return this.collapse;
        },
        size() {
            return this.parent.size;
        },
        isActive() {
            return this.parent.activeItem === this.name;
        },
        computedClassNames() {
            return {
                collapseItem: {
                    [this.$style.collapseItem]: true,
                    [this.$style[`collapseItem_size_${this.size}`]]: true,
                    [this.$style.collapseItem_active]: this.isActive
                }
            };
        }
    },
    watch: {
        isActive(value) {
            this.collapseItem(value);
        }
    },
    mounted() {
        if (this.isActive) {
            this.collapseItem(true);
        }
    },
    methods: {
        handleClick() {
            this.parent.setActiveName(this.name);
        },
        collapseItem(value) {
            const elem = this.$refs.body;

            if (!value) {
                elem.style.height = elem.scrollHeight + 'px';
                setTimeout(() => {
                    elem.style.height = 0;
                }, 0);
            } else {
                setTimeout(() => {
                    elem.style.height = elem.scrollHeight + 'px';
                    setTimeout(() => {
                        elem.style.height = 'auto';
                    }, 250);
                }, 0);
            }
        }
    }
};
</script>

<style src="./collapse-item.css" module />
