<template>
    <div :class="$style.collapse">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'BCollapse',
    provide() {
        return {
            collapse: this
        };
    },
    props: {
        active: {
            type: [String, Number],
            default: null
        },
        size: {
            type: String,
            default: 'lg'
        }
    },
    data() {
        return {
            activeItem: this.active
        };
    },
    methods: {
        setActiveName(name) {
            this.activeItem = name;
        }
    }
};
</script>

<style src="./collapse.css" module />
