.checkboxButton {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.checkboxButton__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.checkboxButton__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ui-colors-element-background-regular);
    transition: 0.15s ease;
}

.checkboxButton__icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.checkboxButton__slot {
    color: var(--ui-colors-typo-regular);
}

.checkboxButton__input:checked ~ .checkboxButton__content {
    background: var(--ui-colors-theme-dark);
}

.checkboxButton__input:checked
    ~ .checkboxButton__content
    .checkboxButton__icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg)
        brightness(107%) contrast(101%);
}

.checkboxButton__input:checked
    ~ .checkboxButton__content
    .checkboxButton__slot {
    color: var(--ui-colors-theme-dark-invert);
}

.checkboxButton_size_md .checkboxButton__content {
    min-width: 72px;
    height: 36px;
    border-radius: 8px;
    padding: 0 16px;
}

.checkboxButton_size_md .checkboxButton__icon {
    width: 20px;
    height: 20px;
    filter: invert(48%) sepia(63%) saturate(2675%) hue-rotate(332deg)
        brightness(88%) contrast(99%);
    margin-right: 8px;
}

.checkboxButton_size_md .checkboxButton__slot {
    font-size: 12px;
    font-weight: 500;
}

.checkboxButton_disabled {
    pointer-events: none;
}
