<template>
    <label :class="computedClassNames.checkboxButton">
        <input
            v-model="computedValue"
            :value="nativeValue"
            :class="$style.checkboxButton__input"
            :disabled="disabled"
            type="checkbox"
        />
        <div :class="$style.checkboxButton__content">
            <span
                v-if="image"
                :class="$style.checkboxButton__icon"
                :style="{ backgroundImage: `url(${image})` }"
            />
            <span :class="$style.checkboxButton__slot">
                <slot />
            </span>
        </div>
    </label>
</template>

<script>
export default {
    name: 'BCheckboxButton',
    props: {
        value: {
            type: [Boolean, String, Number, Array],
            default: null
        },
        nativeValue: {
            type: [Boolean, String, Number, Array],
            default: null
        },
        size: {
            type: String,
            default: 'md'
        },
        image: {
            type: String,
            default: null
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                checkboxButton: {
                    [this.$style.checkboxButton]: true,
                    [this.$style[`checkboxButton_size_${this.size}`]]: true,
                    [this.$style.checkboxButton_disabled]: this.disabled
                }
            };
        },
        computedValue: {
            get() {
                return this.value;
            },
            set(value) {
                this.$emit('input', value);
            }
        }
    }
};
</script>

<style src="./checkbox-button.css" module />
