<template>
    <div :class="$style.tabs">
        <div :class="$style.tabs__header">
            <div
                v-for="(item, i) in items"
                :key="i"
                :class="[
                    {
                        [$style.tabs__navItem]: true,
                        [$style.tabs__navItem_active]: isActiveTab(item.name)
                    },
                    navItemClass
                ]"
                @click="activeTab = item.name"
            >
                {{ item.label }}
            </div>
        </div>
        <div :class="$style.tabs__content">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
    name: 'BTabs',
    provide() {
        return {
            tabs: this
        };
    },
    props: {
        value: {
            type: [String, Number],
            default: null
        },
        navItemClass: {
            type: [String, Array, Object],
            default: null
        }
    },
    data() {
        return {
            items: []
        };
    },
    computed: {
        activeTab: {
            get() {
                return this.value;
            },
            set(value) {
                this.$emit('input', value);
            }
        }
    },
    methods: {
        registerItem(item) {
            this.items.push(item);
        },
        isActiveTab(tabName) {
            return this.activeTab === tabName;
        }
    }
};
</script>

<style src="./tabs.css" module />
