<template>
    <div v-if="active" :class="$style.tabsItem">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'BTabsItem',
    inject: ['tabs'],
    props: {
        name: {
            type: [String, Number],
            required: true
        },
        label: {
            type: String,
            required: true
        }
    },
    computed: {
        active() {
            return this.tabs.activeTab === this.name;
        }
    },
    mounted() {
        this.tabs.registerItem(this);
    }
};
</script>

<style src="./tabs-item.css" module />
