.tabs {
    position: relative;
}

.tabs__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 -2px 0 var(--ui-colors-border-regular) inset;
    overflow-x: auto;
    overflow-y: hidden;
}

.tabs__navItem {
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    color: var(--ui-colors-typo-placeholder);
}

.tabs__navItem_active {
    box-shadow: 0 -2px 0 var(--ui-colors-theme-primary) inset;
    color: var(--ui-colors-typo-regular);
}

.tabs__content {
    position: relative;
}
