<template>
    <BPoper
        ref="poper"
        :position="position"
        fluid
        @open="active = true"
        @close="active = false"
    >
        <BInput
            :placeholder="placeholder"
            :value="computedPlaceholder"
            readonly
            :icon-postfix="['icon-chevron-down', computedClassNames.icon]"
        />
        <BDatepicker
            v-model="computedValue"
            :range="range"
            slot="dropdown"
            @select="close"
            @range-end="close"
        />
    </BPoper>
</template>

<script>
import { moment } from '@/utils/date.util';

import BPoper from '@/components/base/poper';
import BDatepicker from '@/components/base/datepicker';
import BInput from '@/components/base/input';
export default {
    name: 'BDatepickerInput',
    components: {
        BPoper,
        BDatepicker,
        BInput
    },
    props: {
        value: {
            type: [String, Number, Array, Date],
            default: null
        },
        position: {
            type: String,
            default: 'bottom'
        },
        placeholder: {
            type: String,
            default: 'Выберите дату'
        },
        range: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            active: false
        };
    },
    computed: {
        computedValue: {
            get() {
                return this.value;
            },
            set(value) {
                this.$emit('input', value);
            }
        },
        computedPlaceholder() {
            if (this.range) {
                return this.value[0] && this.value[1]
                    ? `${moment(this.value[0]).format(
                          'DD.MM.YYYY'
                      )} по ${moment(this.value[1]).format('DD.MM.YYYY')}`
                    : null;
            }
            return this.value ? moment(this.value).format('DD.MM.YYYY') : null;
        },
        computedClassNames() {
            return {
                icon: {
                    [this.$style.datepickerInput__icon]: true,
                    [this.$style.datepickerInput__icon_active]: this.active
                }
            };
        }
    },
    methods: {
        close() {
            this.$refs.poper.close();
        }
    }
};
</script>

<style src="./datepicker-input.css" module />
