<template>
    <div :class="computedClassNames.wrapper">
        <div ref="swiper" :class="computedClassNames.swiper">
            <div class="swiper-wrapper">
                <slot />
            </div>
        </div>
        <template v-if="showPagination">
            <div
                ref="pagination"
                :style="{ bottom: paginationPosition }"
                :class="[$style.swiper__pagination, paginationClass]"
            />
        </template>
        <template v-if="showNavigation && !alphaAndOmega">
            <div
                :class="[$style.swiper__button, $style.swiper__button_prev]"
                @click="prevSlide"
            >
                <span class="icon-long-arrow-left" />
            </div>
            <div
                :class="[$style.swiper__button, $style.swiper__button_next]"
                @click="nextSlide"
            >
                <span class="icon-long-arrow-right" />
            </div>
            <div :class="$style.swiper__arrowButton" @click="nextSlide" />
        </template>
    </div>
</template>

<script>
import Swiper, {
    FreeMode,
    Navigation,
    Pagination,
    EffectCoverflow
} from 'swiper';
export default {
    name: 'BSwiper',
    props: {
        options: {
            type: Object,
            default: () => ({})
        },
        showPagination: {
            type: Boolean,
            default: false
        },
        paginationType: {
            type: String,
            default: 'primary'
        },
        paginationPosition: {
            type: String,
            default: '48px'
        },
        paginationClass: {
            type: [String, Array],
            default: null
        },
        showNavigation: {
            type: Boolean,
            default: true
        },
        navigationType: {
            type: String,
            default: 'default'
        },
        hideNavigationMd: {
            type: Boolean,
            default: false
        },
        hideNavigationXs: {
            type: Boolean,
            default: true
        },
        scroller: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            swiper: null
        };
    },
    computed: {
        computedClassNames() {
            return {
                wrapper: {
                    [this.$style.wrapper]: true,
                    [this.$style.scroller]: this.scroller
                },
                swiper: {
                    swiper: true,
                    [this.$style.swiper]: true,
                    [this.$style.swiper_scroller]: this.scroller,
                    [this.$style[
                        `swiper_paginationType_${this.paginationType}`
                    ]]: true,
                    [this.$style[
                        `swiper_navigationType_${this.navigationType}`
                    ]]: true,
                    [this.$style.swiper_hideNavigationMd]:
                        this.hideNavigationMd,
                    [this.$style.swiper_hideNavigationXs]: this.hideNavigationXs
                }
            };
        },
        alphaAndOmega() {
            return this.swiper?.isBeginning && this.swiper?.isEnd;
        }
    },
    mounted() {
        this.swiper = new Swiper(this.$refs.swiper, {
            modules: [FreeMode, Navigation, Pagination, EffectCoverflow],
            pagination: {
                clickable: true,
                el: this.$refs.pagination,
                bulletClass: this.$style.swiper__paginationBullet,
                bulletActiveClass: this.$style.swiper__paginationBullet_active
            },
            ...this.options
        });
    },
    methods: {
        nextSlide() {
            this.swiper.slideNext();
        },
        prevSlide() {
            this.swiper.slidePrev();
        }
    }
};
</script>

<style src="./swiper-bundle.css" />
<style src="./swiper.css" module />
