<template>
    <div :class="['swiper-slide', $style.swiperSlide]">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'BSwiperSlide'
};
</script>

<style src="./swiper-slide.css" module />
