.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.container_size_xl {
    max-width: 1472px;
}

.container_size_lg {
    max-width: 1170px;
}

.container_size_md {
    max-width: 720px;
}

.container_size_sm {
    max-width: 540px;
}

@media screen and (max-width: 1472px) {
    .container_size_xl {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1199px) {
    .container_size_xl, .container_size_lg {
        max-width: 992px;
    }
}

@media screen and (max-width: 991px) {
    .container_size_xl, .container_size_lg {
        max-width: none;
    }
}