<template>
    <div :class="computedClassNames.container">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'BContainer',
    props: {
        size: {
            type: String,
            default: 'lg'
        }
    },
    computed: {
        computedClassNames() {
            return {
                container: {
                    [this.$style.container]: true,
                    [this.$style[`container_size_${this.size}`]]: true
                }
            };
        }
    }
};
</script>

<style src="./container.css" module />
