<template>
    <div :class="$style.uploadAvatar">
        <BUpload
            ref="upload"
            :class="$style.uploadAvatar__upload"
            @change="handleChange"
        >
            <div :class="$style.uploadAvatar__uploadContainer">
                <BAvatar :image="img" size="xl" />
                <div :class="$style.uploadAvatar__overlay">
                    <span class="icon-file-upload-outline" />
                </div>
            </div>
        </BUpload>
        <div :class="$style.uploadAvatar__content">
            <span :class="$style.uploadAvatar__uploadButton" @click="focus">
                Выбрать фотографию
            </span>
            <div :class="$style.uploadAvatar__hint">
                (Загрузите квадратное изображение разрешением не менее 128x128
                px)
            </div>
        </div>
    </div>
</template>

<script>
import { imageToBase64 } from '@/utils/image.util';

import BUpload from '@/components/base/upload';
import BAvatar from '@/components/base/avatar';
export default {
    name: 'BUploadAvatar',
    components: {
        BUpload,
        BAvatar
    },
    props: {
        image: {
            type: String,
            default: null
        }
    },
    data() {
        return {
            img: this.image
        };
    },
    watch: {
        image(value) {
            this.img = value;
        }
    },
    methods: {
        focus() {
            this.$refs.upload.focus();
        },
        async handleChange(file) {
            const image = await imageToBase64(file);

            this.img = image;

            this.$emit('change', file);
        }
    }
};
</script>

<style src="./upload-avatar.css" module />
