.uploadAvatar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.uploadAvatar__upload {
    flex-shrink: 0;
}

.uploadAvatar__content {
    margin-left: 16px;
}

.uploadAvatar__uploadButton {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
}

.uploadAvatar__uploadButton:hover {
    color: var(--ui-colors-theme-primary);
}

.uploadAvatar__hint {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--ui-colors-typo-placeholder);
}

.uploadAvatar__uploadContainer {
    position: relative;
    overflow: hidden;
    width: 72px;
    height: 72px;
    border-radius: 8px;
}

.uploadAvatar__overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    transition: 0.15s ease;
    opacity: 0;
    border-radius: 8px;
}

.uploadAvatar__overlay:hover {
    opacity: 1;
}