<template>
    <span :class="computedClassNames">
        <slot />
        <span
            v-if="removable"
            :class="[$style.tag__removeButton, 'icon-close']"
            @click="handleRemove"
        />
    </span>
</template>

<script>
export default {
    name: 'BTag',
    props: {
        variant: {
            type: String,
            default: 'info'
        },
        size: {
            type: String,
            default: 'sm'
        },
        removable: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.tag]: true,
                [this.$style[`tag_size_${this.size}`]]: true,
                [this.$style[`tag_variant_${this.variant}`]]: true
            };
        }
    },
    methods: {
        handleRemove() {
            this.$emit('remove');
        }
    }
};
</script>

<style src="./tag.css" module />
