.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tag__removeButton {
    cursor: pointer;
}

.tag_variant_info {
    background: var(--ui-colors-element-background-regular);
    color: var(--ui-colors-typo-regular);
}

.tag_variant_blue {
    background: var(--ui-colors-theme-blue);
    color: white;
}

.tag_variant_success {
    background: var(--ui-colors-theme-success);
    color: var(--ui-colors-theme-success-invert);
}

.tag_variant_warning {
    background: var(--ui-colors-theme-warning);
    color: var(--ui-colors-theme-warning-invert);
}

.tag_variant_error {
    background: var(--ui-colors-theme-danger);
    color: var(--ui-colors-theme-danger-invert);
}

.tag_variant_dark {
    background: var(--ui-colors-theme-dark);
    color: var(--ui-colors-theme-dark-invert);
}

.tag_size_sm {
    min-width: 24px;
    height: 24px;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 12px;
    font-weight: 500;
}

.tag_size_sm .tag__removeButton {
    font-size: 10px;
    margin-left: 8px;
}

.tag_size_md {
    min-width: 24px;
    height: 32px;
    border-radius: 4px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
}

.tag_size_md .tag__removeButton {
    font-size: 12px;
    margin-left: 8px;
}
