<template>
    <span
        :class="computedClassNames.tooltip"
        @mouseenter="open"
        @mouseleave="close"
    >
        <transition
            :enter-class="$style.animationEnter"
            :leave-to-class="$style.animationLeaveTo"
        >
            <div
                v-show="active"
                :class="$style.tooltip__content"
                :style="{ width }"
            >
                <slot name="label" />
            </div>
        </transition>
        <div :class="$style.tooltip__trigger">
            <slot />
        </div>
    </span>
</template>

<script>
export default {
    name: 'BTooltip',
    props: {
        position: {
            type: String,
            default: 'bottom'
        },
        align: {
            type: String,
            default: 'left'
        },
        width: {
            type: String,
            default: 'auto'
        }
    },
    data() {
        return {
            active: false
        };
    },
    computed: {
        computedClassNames() {
            return {
                tooltip: {
                    [this.$style.tooltip]: true,
                    [this.$style[`tooltip_position_${this.position}`]]: true,
                    [this.$style[`tooltip_align_${this.align}`]]: true
                }
            };
        }
    },
    methods: {
        open() {
            this.active = true;
        },
        close() {
            this.active = false;
        }
    }
};
</script>

<style src="./tooltip.css" module />
