.tooltip {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.tooltip__content {
    position: absolute;
    z-index: 10;
    background: var(--ui-colors-theme-dark);
    color: var(--ui-colors-theme-dark-invert);
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
}

.tooltip__trigger {
    cursor: pointer;
}

.tooltip_position_top .tooltip__content {
    bottom: 100%;
    margin-bottom: 4px;
}

.tooltip_position_bottom .tooltip__content {
    top: 100%;
    margin-top: 4px;
}

.tooltip_align_left .tooltip__content {
    left: 0;
}

.tooltip_align_right .tooltip__content {
    right: 0;
}

.tooltip_align_center .tooltip__content {
    left: 50%;
    transform: translateX(-50%);
}
