<template>
    <BPoper
        ref="poper"
        :class="$style.select"
        fluid
        @open="active = true"
        @close="active = false"
    >
        <div :class="$style.select__tags">
            <BTag
                v-for="(tag, i) in computedTags"
                :key="i"
                :class="$style.select__tag"
                variant="dark"
            >
                {{ tag }}
            </BTag>
        </div>
        <div :class="$style.select__inputWrapper">
            <BInput
                :placeholder="!computedTags.length ? placeholder : null"
                :value="computedValue"
                :icon-postfix="['icon-chevron-down', computedClassNames.icon]"
                readonly
            />
        </div>

        <div slot="dropdown" :class="computedClassNames.dropdown">
            <div v-if="search" :class="$style.select__search">
                <BInput
                    v-model="computedSearchQuery"
                    size="sm"
                    variant="outline"
                    placeholder="Поиск"
                    clearable
                />
            </div>
            <div
                v-if="search && !options.length"
                :class="$style.select__searchEmptyResult"
            >
                Ничего не найдено
            </div>
            <div v-else :class="$style.select__options" data-custom-scrollbar>
                <BOption
                    v-for="(option, i) in options"
                    :key="i"
                    :value="option.value"
                    @select="onSelect"
                >
                    {{ option.label }}
                </BOption>
            </div>
        </div>
    </BPoper>
</template>

<script>
import BPoper from '@/components/base/poper';
import BInput from '@/components/base/input';
import BOption from '@/components/base/select/option';
import BTag from '@/components/base/tag';
export default {
    name: 'BSelect',
    components: {
        BPoper,
        BInput,
        BOption,
        BTag
    },
    provide() {
        return {
            select: this
        };
    },
    props: {
        value: {
            type: [String, Number, Array],
            default: null
        },
        options: {
            type: Array,
            default: () => []
        },
        placeholder: {
            type: String,
            default: 'Выберите'
        },
        search: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            active: false,
            searchQuery: '',
            model: this.value
        };
    },
    computed: {
        computedSearchQuery: {
            get() {
                return this.searchQuery;
            },
            set(value) {
                this.searchQuery = value;
                this.$emit('search', this.searchQuery);
            }
        },
        computedClassNames() {
            return {
                dropdown: {
                    [this.$style.select__dropdown]: true,
                    [this.$style.select__dropdown_hasScrollbar]:
                        this.options.length > 5
                },
                icon: {
                    [this.$style.select__icon]: true,
                    [this.$style.select__icon_active]: this.active
                }
            };
        },
        computedValue() {
            if (Array.isArray(this.model) || !this.options.length) return null;
            const option = this.options.find(
                (item) => item.value === this.model
            );
            return option?.label;
        },
        computedTags() {
            if (!Array.isArray(this.model) || !this.options.length) return [];

            const result = [];

            for (const value of this.model) {
                const option = this.options.find(
                    (option) => option.value === value
                );
                result.push(option.label);
            }

            return result.length > 1
                ? [result[0], `+${result.length - 1}`]
                : result;
        }
    },
    watch: {
        value(newVal) {
            this.model = newVal;
        }
    },
    methods: {
        onSelect(value) {
            if (Array.isArray(this.model)) {
                const index = this.model.indexOf(value);

                if (index !== -1) {
                    this.model.splice(index, 1);
                } else {
                    this.model.push(value);
                }
            } else {
                this.model = value;
                this.$nextTick(() => {
                    this.$refs.poper.close();
                });
            }

            this.$emit('input', this.model);
        },
        handleSearch(value) {
            this.$emit('search', value);
        }
    }
};
</script>

<style src="./select.css" module />
