.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px;
    user-select: none;
}

.option:hover {
    background: var(--ui-colors-element-background-regular);
}

.option_active {
    color: var(--ui-colors-theme-primary);
}