<template>
    <div :class="computedClassNames.option" @click="handleClick">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'BOption',
    inject: ['select'],
    props: {
        value: {
            type: [String, Number],
            default: null
        }
    },
    computed: {
        computedClassNames() {
            return {
                option: {
                    [this.$style.option]: true,
                    [this.$style.option_active]: this.active
                }
            };
        },
        active() {
            const selected = this.select.model;

            if (Array.isArray(selected)) {
                return selected.includes(this.value);
            }

            return selected === this.value;
        }
    },
    methods: {
        handleClick() {
            this.$emit('select', this.value);
        }
    }
};
</script>

<style src="./option.css" module />
