.select {
    position: relative;
}

.select__tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0 16px;
}

.select__tag {
    margin-right: 4px;
}

.select__icon {
    transition: 0.15s ease;
}

.select__icon_active {
    transform: rotate(180deg);
}

.select__dropdown {
    background: white;
    padding: 8px 0;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.select__options {
    width: 100%;
    max-height: 196px;
    overflow-x: hidden;
    overflow-y: auto;
}

.select__dropdown_hasScrollbar {
    padding: 8px 8px 8px 0;
}

.select__dropdown_hasScrollbar .select__options {
    padding-right: 8px;
}

.select__search {
    margin-bottom: 8px;
    padding: 0 8px 8px;
    border-bottom: 1px solid var(--ui-colors-border-light);
}

.select__searchEmptyResult {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--ui-colors-typo-placeholder);
}