.formItem {
    position: relative;
    text-align: left;
}

.formItem__label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.formItem__content {
    position: relative;
}

.formItem__hint {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--ui-colors-typo-placeholder);
    margin-top: 8px;
}

.formItem__error {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--ui-colors-theme-danger);
    margin-top: 8px;
}