<template>
    <div :class="$style.formItem">
        <div v-if="$slots.label" :class="$style.formItem__label">
            <slot name="label" />
        </div>
        <div :class="$style.formItem__content">
            <slot />
        </div>
        <div v-if="$slots.hint" :class="$style.formItem__hint">
            <slot name="hint" />
        </div>
        <div v-if="invalid && errorMessage" :class="$style.formItem__error">
            {{ errorMessage }}
        </div>
    </div>
</template>

<script>
export default {
    name: 'BFormItem',
    props: {
        prop: {
            type: String,
            default: null
        }
    },
    inject: ['form'],
    data() {
        return {
            invalid: false,
            errorMessage: null
        };
    },
    mounted() {
        this.registerFormItem();
    },
    methods: {
        setError(invalid, message) {
            this.invalid = invalid;
            this.errorMessage = message;
        },
        registerFormItem() {
            if (!this.prop) return;
            this.form.registerFormItem(this);
        }
    }
};
</script>

<style src="./form-item.css" module />
