<template>
    <form @submit.prevent="submit">
        <slot />
    </form>
</template>

<script>
import AsyncValidator from 'async-validator';
export default {
    name: 'BForm',
    props: {
        data: {
            type: Object,
            default: () => ({})
        },
        rules: {
            type: Object,
            default: () => ({})
        }
    },
    provide() {
        return {
            form: this
        };
    },
    data() {
        return {
            invalid: false,
            formItems: []
        };
    },
    methods: {
        submit(event) {
            if (this.rules) {
                if (!this.data) {
                    // eslint-disable-next-line
                    console.error('Missing form data');
                    return;
                }
                this.validate();
                if (this.invalid) return this.invalid;
            }
            this.$emit('submit', event);
        },
        validate() {
            const validator = new AsyncValidator(this.rules);
            validator.validate(this.data, (errors) => {
                this.formItems.forEach((item) => {
                    item.setError(false, '');
                });
                if (errors) {
                    errors.forEach((error) => {
                        this.formItems.forEach((item) => {
                            if (item.prop === error.field) {
                                item.setError(true, error.message);
                            }
                        });
                    });
                    this.invalid = true;
                } else {
                    this.invalid = false;
                }
            });
        },
        registerFormItem(formItem) {
            this.formItems.push(formItem);
        }
    }
};
</script>

<style></style>
