<template>
    <div :class="computedClassNames">
        <slot />
    </div>
</template>

<script>
export default {
    name: 'BNavigation',
    provide() {
        return {
            navigation: this
        };
    },
    props: {
        hAlign: {
            type: String,
            default: 'left'
        },
        size: {
            type: String,
            default: 'md'
        },
        canActive: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.navigation]: true,
                [this.$style[`navigation_hAlign_${this.hAlign}`]]: true
            };
        }
    }
};
</script>

<style src="./navigation.css" module />
