.navigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
    white-space: nowrap;
}

.navigationItem_size_md {
    height: 48px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 24px;
}

.navigationItem_size_lg {
    height: 64px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 32px;
}

.navigationItem_size_lg:last-child,
.navigationItem_size_md:last-child {
    margin-right: 0;
}

.navigationItem:hover {
    color: var(--ui-colors-theme-primary);
}

.navigationItem_exactActive,
.navigationItem_active {
    box-shadow: 0 -1px 0 inset var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-primary);
}
