<template>
    <RouterLink
        :class="computedClassNames"
        :exact-active-class="
            canActive ? $style.navigationItem_exactActive : null
        "
        :active-class="canActive ? $style.navigationItem_active : null"
        v-bind="$attrs"
        v-on="$listeners"
    >
        <slot />
    </RouterLink>
</template>

<script>
export default {
    name: 'BNavigationItem',
    inject: ['navigation'],
    computed: {
        computedClassNames() {
            return {
                [this.$style.navigationItem]: true,
                [this.$style[`navigationItem_size_${this.size}`]]: true
            };
        },
        size() {
            return this.navigation.size;
        },
        canActive() {
            return this.navigation.canActive;
        }
    }
};
</script>

<style src="./item.css" module />
