.navigation {
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.navigation_hAlign_left {
    justify-content: flex-start;
}

.navigation_hAlign_right {
    justify-content: flex-end;
}
