.alert {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    border-radius: 6px;
}

.alert__icon {
    font-size: 20px;
    margin-right: 8px;
}

.alert__content {
    position: relative;
}

.alert__title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.alert__text {
    font-size: 12px;
    font-weight: 400;
}

.alert_variant_info {
    background: var(--ui-colors-element-background-regular);
    color: var(--ui-colors-typo-regular);
}

.alert_variant_success {
    background: var(--ui-colors-theme-success);
    color: var(--ui-colors-theme-success-invert);
}

.alert_variant_warning {
    background: var(--ui-colors-theme-warning);
    color: var(--ui-colors-theme-warning-invert);
}

.alert_variant_error {
    background: var(--ui-colors-theme-danger);
    color: var(--ui-colors-theme-danger-invert);
}

.alert_variant_dark {
    background: var(--ui-colors-theme-dark);
    color: var(--ui-colors-theme-dark-invert);
}