<template>
    <div :class="computedClassNames">
        <span v-if="icon" :class="[$style.alert__icon, icon]" />
        <div :class="$style.alert__content">
            <div v-if="$slots.title" :class="$style.alert__title">
                <slot name="title" />
            </div>
            <div v-if="$slots.default" :class="$style.alert__text">
                <slot />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'BAlert',
    props: {
        variant: {
            type: String,
            default: 'info'
        },
        icon: {
            type: String,
            default: null
        }
    },
    computed: {
        computedClassNames() {
            return {
                [this.$style.alert]: true,
                [this.$style[`alert_variant_${this.variant}`]]: true
            };
        }
    }
};
</script>

<style src="./alert.css" module />
