[data-custom-scrollbar]::-webkit-scrollbar-track {
    background-color: var(--ui-colors-border-regular);
    border-radius: 999px;
}

[data-custom-scrollbar]::-webkit-scrollbar {
    width: 5px;
}

[data-custom-scrollbar]::-webkit-scrollbar-thumb {
    background-color: var(--ui-colors-theme-primary);
    border-radius: 999px;
}
