:root {
    --ui-font-family: 'Geometria', Arial, Helvetica, sans-serif;

    --ui-colors-body-background-grey: #f3f0ef;

    --ui-colors-theme-primary: #e15140;
    --ui-colors-theme-primary-invert: #fff;

    --ui-colors-theme-dark: #202223;
    --ui-colors-theme-dark-invert: #fff;

    --ui-colors-theme-success: #44c807;
    --ui-colors-theme-success-extra-light: #edfae7;
    --ui-colors-theme-success-invert: #fff;

    --ui-colors-theme-warning: #ebb348;
    --ui-colors-theme-warning-invert: #fff;

    --ui-colors-theme-danger: #e74c3c;
    --ui-colors-theme-danger-extra-light: #fdeeec;
    --ui-colors-theme-danger-invert: #fff;

    --ui-colors-theme-pink: #fbe8e3;

    --ui-colors-theme-blue: #3a5999;

    --ui-colors-typo-regular: #202223;
    --ui-colors-typo-placeholder: #b0b4b2;

    --ui-colors-icon-regular: #e5e5e5;

    --ui-colors-border-regular: #e5e5e5;
    --ui-colors-border-dark: #b0b4b2;
    --ui-colors-border-light: #f3f0ef;

    --ui-colors-element-background-regular: #f3f3f3;
    --ui-colors-element-border-regular: var(--ui-colors-border-regular);
    --ui-colors-element-border-focus: var(--ui-colors-theme-primary);
    --ui-colors-element-typo-placeholder: var(--ui-colors-typo-placeholder);

    --ui-z-index-1: 10000;
    --ui-z-index-2: 9900;
    --ui-z-index-3: 9800;
    --ui-z-index-4: 9700;
}
