.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    border: none;
    transition: 0.15s ease;
    user-select: none;
}

.button:active {
    transform: scale(0.96);
}

.button:disabled {
    pointer-events: none;
}

.button__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}

.button__slot {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.button_variant_default {
    background: var(--ui-colors-element-background-regular);
}

.button_variant_primary {
    background: var(--ui-colors-theme-primary);
    border: 1px solid var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-primary-invert);
}

.button_variant_primary:hover {
    background: none;
    color: var(--ui-colors-theme-dark);
}

.button_variant_secondary {
    background: none;
    border: 1px solid var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-dark);
}

.button_variant_secondary:hover {
    background: var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-primary-invert);
}

.button_variant_dark {
    background: var(--ui-colors-theme-dark);
    border: 1px solid var(--ui-colors-theme-dark);
    color: var(--ui-colors-theme-dark-invert);
}

.button_variant_dark:hover {
    background: none;
    color: var(--ui-colors-theme-dark);
}

.button_variant_outline {
    background: none;
    border: 1px solid var(--ui-colors-element-border-regular);
    color: var(--ui-colors-theme-dark);
}

.button_variant_outline:hover {
    border-color: var(--ui-colors-theme-primary);
    color: var(--ui-colors-theme-primary);
}

.button_variant_pink {
    background: var(--ui-colors-theme-pink);
}

.button_variant_silence {
    background: none;
    color: var(--ui-colors-theme-primary);
}

.button_size_sm {
    min-width: 64px;
    height: 32px;
    padding: 0 16px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
}

.button_size_md {
    min-width: 72px;
    height: 36px;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
}

.button_size_lg {
    min-width: 72px;
    height: 48px;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
}

.button_size_sm .button__icon {
    font-size: 16px;
    margin-right: 4px;
}

.button_size_sm .button__image {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.button_size_md .button__icon {
    font-size: 14px;
    margin-right: 4px;
}

.button_size_md .button__image {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.button_size_lg .button__icon {
    font-size: 18px;
    margin-right: 4px;
}

.button_size_lg .button__image {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.button_size_sm.button_iconOnly {
    width: 32px;
    height: 32px;
    padding: 0;
}

.button_size_md.button_iconOnly {
    width: 36px;
    height: 36px;
    padding: 0;
}

.button_size_lg.button_iconOnly {
    width: 48px;
    height: 48px;
    padding: 0;
}

.button_iconOnly {
    min-width: auto !important;
}

.button_iconOnly .button__icon,
.button_iconOnly .button__image {
    margin-right: 0;
}

.button_fluid {
    width: 100%;
}

.button_disabled {
    opacity: 0.5;
}

.button_circle {
    border-radius: 50% !important;
}

.button_loading .button__content {
    opacity: 0.3;
}

.button_loading:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-top-color: transparent !important;
    border-radius: 50%;
    animation: loadingRotate 0.75s linear infinite;
}

.button_loading.button_variant_default:after {
    border-color: var(--ui-colors-theme-dark);
}

.button_loading.button_variant_primary:after {
    border-color: var(--ui-colors-theme-primary-invert);
}

.button_loading.button_variant_secondary:after {
    border-color: var(--ui-colors-theme-primary);
}

.button_loading.button_variant_dark:after {
    border-color: var(--ui-colors-theme-dark-invert);
}

.button_loading.button_variant_outline:after {
    border-color: var(--ui-colors-theme-dark);
}

.button_loading.button_size_sm:after {
    width: 18px;
    height: 18px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-width: 3px;
}

.button_loading.button_size_md:after {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-width: 3px;
}

.button_loading.button_size_lg:after {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    border-width: 4px;
}

@keyframes loadingRotate {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 575px) {
    .button_fluidXs {
        width: 100%;
    }
}