<template>
    <component
        :is="tag"
        :class="computedClassNames.button"
        :disabled="disabled || loading"
        v-bind="$attrs"
        v-on="$listeners"
    >
        <span :class="$style.button__content">
            <span v-if="icon" :class="[$style.button__icon, icon]" />
            <span v-if="image" :class="[$style.button__image, image]" />
            <span :class="$style.button__slot">
                <slot />
            </span>
        </span>
    </component>
</template>

<script>
export default {
    name: 'BButton',
    props: {
        tag: {
            type: String,
            default: 'button'
        },
        variant: {
            type: String,
            default: 'primary'
        },
        size: {
            type: String,
            default: 'lg'
        },
        disabled: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false
        },
        fluid: {
            type: Boolean,
            default: false
        },
        fluidXs: {
            type: Boolean,
            default: false
        },
        icon: {
            type: [String, Array, Object],
            default: null
        },
        image: {
            type: [String, Array, Object],
            default: null
        },
        circle: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        computedClassNames() {
            return {
                button: {
                    [this.$style.button]: true,
                    [this.$style[`button_variant_${this.variant}`]]: true,
                    [this.$style[`button_size_${this.size}`]]: true,
                    [this.$style.button_fluid]: this.fluid,
                    [this.$style.button_fluidXs]: this.fluidXs,
                    [this.$style.button_disabled]: this.disabled,
                    [this.$style.button_loading]: this.loading,
                    [this.$style.button_iconOnly]:
                        (this.icon || this.image) && !this.$slots.default,
                    [this.$style.button_circle]: this.circle
                }
            };
        }
    }
};
</script>

<style src="./button.css" module />
