<template>
    <label :class="computedClassNames.upload">
        <div :class="$style.upload__content">
            <slot>
                <BButton
                    size="md"
                    icon="icon-file-upload-outline"
                    tag="span"
                    variant="primary"
                    :class="$style.upload__defaultButton"
                    fluid
                >
                    {{ buttonText }}
                </BButton>
            </slot>
        </div>
        <input
            ref="input"
            type="file"
            :key="key"
            :multiple="multiple"
            :class="$style.upload__input"
            v-bind="$attrs"
            @change="handleChange"
        />
    </label>
</template>

<script>
import BButton from '@/components/base/button';
export default {
    name: 'BUpload',
    props: {
        multiple: {
            type: Boolean,
            default: false
        }
    },
    components: {
        BButton
    },
    data() {
        return {
            key: 0,
            buttonText: this.multiple ? 'Выберите файлы' : 'Выберите файл'
        };
    },
    computed: {
        computedClassNames() {
            return {
                upload: {
                    [this.$style.upload]: true
                }
            };
        }
    },
    methods: {
        handleChange(event) {
            if (event.target.files.length === 0) return;

            if (this.multiple) {
                this.$emit('change', event.target.files);
            } else {
                this.$emit('change', event.target.files[0]);
            }

            this.buttonText = event.target.files[0].name;
            this.key++;
        },
        focus() {
            this.$refs.input.click();
        }
    }
};
</script>

<style src="./upload.css" module />
