.upload {
    position: relative;
    display: inline-block;
}

.upload__content {
    position: relative;
}

.upload__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.upload__defaultButton {
    max-width: 200px;
}